.header {
    padding-top: 30px;
    margin-bottom: auto;
    &__container {
        display: flex;
        max-width: 920px;
        justify-content: space-between;
    }

    @include tablets {
        margin-bottom: 50px;
    }
}

