.nav {
    display: flex;
    align-items: center;

    &__list{
        display: flex;
    }

    &__link:hover {
        color: $purple;
    }
    &__item {
        margin-right: 56px;
        font-size: 18px;
        &:last-child {
            margin-right: 0;
        }
    }
}