.promo {
    &-title {
        font-size: $h2;
        margin-bottom: 38px;
    }
    &-name {
        font-size: $h1;
        color: transparent;
        -webkit-text-stroke: 1px white;
        line-height: 1;
    }
}