.section-hero {
    // background: url(../images/content/back.jpg) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    margin-bottom: 185px;
    padding-top: 335px;

    @include tablets {
        justify-content: flex-end;
        height: initial;
    }
    @include phones {
        height: initial;
    }
}