.tracks {
    &__container {
        display: flex;
    }

    &__left {
        margin-right: 77px;
    }
    &__image {
        width: 450px;
        height: 450px;
        background: url(../images/content/track.png) center center / cover no-repeat;
        border: 17px solid rgba(122, 102, 204, 0.6);
        outline: 17px solid rgba(122, 102, 204, 0.3);
        border-radius: 50%;
    }
}