include ./mixins.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .wrapper
            section.section-hero 
                header.header 
                    .container.header__container 

                        .header__logo.logo
                            a(class="logo__link" href="index.html")      
                                +image('logo.png', 'logo__img')
                        nav.header__nav.nav
                            ul.nav__list 
                                li.nav__item 
                                    a(href="#about").nav__link About    
                                li.nav__item 
                                    a(href="#review").nav__link News 
                                li.nav__item
                                    a(href="#tracks").nav__link  Music 
                                li.nav__item
                                    a(href="#media").nav__link  Media 
                                li.nav__item
                                    a(href="#tours").nav__link  Tours 
                                li.nav__item
                                    a(href="#footer").nav__link  Contacts
                        .header__burger.burger 
                            span.burger__line
                            span.burger__line             
                            span.burger__line             
                .promo
                    .container
                        h2.promo-title.title-text New single
                        h1.promo-name War For Love
                        .audiobar
                            button.audiobar__play 
                            audio(src="./blind.mp3" muted="muted").audio
                            .audiobar__progressbar-container 
                                .audiobar__progressbar-inner
                                .audiobar__progress-bar-thumbnail    
                            .audiobar__timer 
                                span.audiobar__current-time 01:30
                                span.audiobar__time-separation -
                                span.audiobar__song-duration   03:00 
                .news
                    .container.news__container 
                        ul.news__list
                            li.news__item.news__first-item 
                                .news__bottom   
                                    p.news__descr Working on my upcoming full-lenth album that`s releasing later this year.                   
                            li.news__item.news__second-item 
                                .news__bottom
                                    p.news__descr Halloween vibes. <br>Listen my new track!                   
                            li.news__item.news__third-item  
                                .news__bottom
                                    p.news__descr WarForLove is OUT NOW!! <br> Stream it here!                   
            section.about#about
                .container.about__container
                    .about__title.title
                                .title-icon
                                h2.title-text Bright Lights
                    .about__left
                        p.about__descr Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and record producer. She has written for numerous pop stars including Britney Spears, Justin Bieber, Usher and Beyoncé. Her catalog has amassed over 1 billion streams worldwide. More than 100 million of those streams can be attributed to her artist career and include such hits as Porter Robinson's "Language," 3LAU's "How You Love Me" and her own single "Runaway." She was also a featured vocalist on Zedd's #1 Clarity album. Her latest music video, "Put It Down," reached 1 million streams in the first week, releasing independently. Bright Lights is currently in the studio working on a self-produced album slated for release in 2020
                        ul.about__list
                            li.about__item Based in: Los Angeles
                            li.about__item Founded in 2011
                            li.about__item Genre: #DancePop 
                            li.about__item Label: 333 Recordings
                    .about__right
                        .about__first-pic 
                        .about__second-pic
            section.review#review
                .container.review__container
                    .review__block 
                        .review__left
                            .review__text
                                p "In an age where mainstream music is designed to be aseasily consumed as possible, listening to Bright Lights isrefreshing, to say the least. Her sound is perfect for radiobut complex enough to separate her from other pop newcomers.” 
                            .review__author 
                                span PopULove.net
                        .review__right  
                            .review__image 
            section.tracks#tracks
                .container.tracks__container
                    .tracks__left
                        .tracks__image 
                    .tracks__right 
                        .tracks__title.title 
                            .title-icon
                            .title-text Last tracks
                        .tracks__audiobar.audiobar
                            button.audiobar__play 
                            .audiobar__progressbar-container 
                                .audiobar__progressbar-inner
                                .audiobar__progress-bar-thumbnail    
                            .audiobar__timer 
                                span.audiobar__current-time 00:00
                                span.audiobar__time-separation -
                                span.audiobar__song-duration   03:00  
                        ul.tracks__playlist 
                            li.tracks__track.tracks__track--active
                                .tracks__tracknumber 01
                                .tracks__trackname 3LAU, Bright Lights — How You Love Me
                            li.tracks__track 
                                .tracks__tracknumber 02
                                .tracks__trackname Bright Lights, Kaleena Zanders, Kandy — War For Love
                            li.tracks__track 
                                .tracks__tracknumber 03
                                .tracks__trackname Pink Is Punk, Benny Benassi, Bright Lights — Ghost
                            li.tracks__track
                                .tracks__tracknumber 04
                                .tracks__trackname Hardwell, Dyro, Bright Lights — Never Say Goodbye
                            li.tracks__track
                                .tracks__tracknumber 05
                                .tracks__trackname Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now
                            li.tracks__track
                                .tracks__tracknumber 06
                                .tracks__trackname Zedd, Bright Lights — Follow You Down
                        .tracks__follow 
                            span Follow me:
                            .tracks__links
                                a.tracks__link
                                    .tracks__link-img.tracks__link-img--spotify
                                    .tracks__link-name Spotify 
                                a.tracks__link
                                    .tracks__link-img.tracks__link-img--apple
                                    .tracks__link-name iTunes 





            section.media#media
                .container 
                    .media__wrapper
                        a.media__item.media__item--first
                            .media__title
                                h5 Media Description 
                        a.media__item.media__item--second
                            .media__title
                                h5 Media Description 
                        a.media__item.media__item--third
                            .media__title
                                h5 Media Description 
                        a.media__item.media__item--fourth
                            .media__title
                                h5 Media Description
                        a.media__item.media__item--fifth
                            .media__title
                                h5 Media Description
            section.tours#tours
                .container.tours__container
                    .tours__slider.slider
                        .tours__controls
                            button.tours__arrow-left
                                span(class="material-icons-sharp") arrow_right_alt
                            button.tours__arrow-right 
                                span(class="material-icons-sharp") arrow_right_alt 
                        .slider__wrapper 
                            ul.slider__list
                                li.slider__item
                                    .slider__img-wrapper
                                        +image('tours/1.png', 'slider__image')   
                                    .slider__city Chandler, AZ
                                    .slider__loc The Park at Wild Horse Pass
                                    .slider__bottom 
                                        .slider__date Apr 02 2021
                                        button.slider__button TICKETS  
                                li.slider__item
                                    .slider__img-wrapper
                                        +image('tours/1.png', 'slider__image')   
                                    .slider__city Chandler, AZ
                                    .slider__loc The Park at Wild Horse Pass
                                    .slider__bottom 
                                        .slider__date Apr 02 2021
                                        button.slider__button TICKETS   
                                li.slider__item
                                    .slider__img-wrapper
                                        +image('tours/2.png', 'slider__image')   
                                    .slider__city Chandler, AZ
                                    .slider__loc The Park at Wild Horse Pass
                                    .slider__bottom 
                                        .slider__date Apr 02 2021
                                        button.slider__button TICKETS                
                                li.slider__item
                                    .slider__img-wrapper
                                        +image('tours/2.png', 'slider__image')   
                                    .slider__city Chandler, AZ
                                    .slider__loc The Park at Wild Horse Pass
                                    .slider__bottom 
                                        .slider__date Apr 02 2021
                                        button.slider__button TICKETS    
            footer.footer#footer
                .footer__logo.logo
                    a(class="logo__link" href="index.html")      
                        +image('logo.png', 'logo__img')  
                .footer__info 
                    .container 
                        .footer__info-top
                            span.footer__info-text Artist Management:
                            span.footer__info-text Jake Henny
                        .footer__info-bottom 
                            span.footer__info-text EMAIL: 
                            span.footer__info-text jake@brightlightsofficial.com
                .footer__socials.socials 
                    a.socials__wrapper
                        .social.socials__insta
                    a.socials__wrapper
                        .social.socials__apple
                    a.socials__wrapper
                        .social.socials__youtube
                    a.socials__wrapper
                        .social.socials__spot
                    a.socials__wrapper
                        .social.socials__fb
                    a.socials__wrapper
                        .social.socials__twitter
                .footer__copyright ©  2020 DJ bright lights.
            .hidden 
                .hidden__container.container 
                    nav.hidden__nav.nav 
                        ul.nav__list 
                            li.nav__item 
                                a(href="#about" data-hidden="hidden").nav__link About    
                            li.nav__item 
                                a(href="#review" data-hidden="hidden").nav__link News 
                            li.nav__item
                                a(href="#tracks" data-hidden="hidden").nav__link  Music 
                            li.nav__item
                                a(href="#media" data-hidden="hidden").nav__link  Media 
                            li.nav__item
                                a(href="#tours" data-hidden="hidden").nav__link  Tours 
                            li.nav__item
                                a(href="#footer" data-hidden="hidden").nav__link  Contacts









                        


